<mat-toolbar color="primary" class="main-header">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon area-hidden="false">menu</mat-icon>
    </button>
    <h1>venky's</h1>

    <div class="col-md-7 justify-content-start">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button [routerLink]="'./components/contactus'">Contact us</a>
      <a mat-button [routerLink]="'./components/products'">Products</a>
    </div>
    <span class="menu-spacer"></span>
    <div class="col-md-5 justify-content-end">
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/logout">Logout</a>
      <a mat-button routerLink="/register">Register</a>
      <a mat-button [mat-menu-trigger-for]="usermenu">User</a>
      <mat-menu #usermenu class="customize">
        <a mat-menu-item>Profile</a>
        <a mat-menu-item>Orders</a>
        <a mat-menu-item>Logout</a>
      </mat-menu>
      <button mat-button routerLink="/cart">
        <span
          matBadge="3"
          matBadgeOverlap="false"
          matBadgePosition="above after"
          matBadgeSize="medium"
          matBadgeColor="warn"
        >
          <mat-icon>add_shopping_cart</mat-icon>
        </span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
